.config/kitty/colors-matugen.conf
.config/hypr/colors.conf
.config/waybar/colors.css
.config/rofi/colors.rasi
.config/gtk-3.0/colors.css
.config/gtk-4.0/colors.css
.config/wlogout/colors.css
.config/swaync/colors.css
.config/walker/colors.css
.config/nwg-dock-hyprland/colors.css
.config/ml4w/colors/primary
.config/ml4w/colors/secondary
.config/ml4w/colors/onsurface
.config/ohmyposh/colors.json
.config/gtk-3.0/colors.css
.config/ohmyposh/EDM115-newline.omp.json
.config/wlogout/colors.css
